@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    
   3001 S King Dr<br />
    Chicago, IL-60616<br />
    <abbr title="Phone">E:</abbr>
    <a href="neeravsankla@outlook.com">neeravsankla@Outlook.com</a>
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@